<ion-modal-view class="modal modal-fullscreen">
  <ion-content>

      <div class="chapter-text" as-blockquote-collapser>
        <h3 ng-if="content.headline">{{ content.headline}}</h3>
        <img ng-if="content.image" src="{{ content.image }}" class="chapter-image">
        <p ng-if="content.paragraph" ng-bind-html="content.paragraph"></p>
        <blockquote ng-show="content.blockquote" ng-bind-html="content.blockquote"></blockquote>
      </div>

  </ion-content>
  <button ng-click="closeModal()" class="button button-footer button-stable icon ion-ios-close-outline"></button>
</ion-modal-view>
