<ion-view view-title="Prehľad" hide-nav-bar="true">
  <ion-content>
    <ion-list type="list list-uneditable">
      <ion-item ng-repeat="reward in rewards" href="" class="item item-thumbnail-left item-uneditable" ng-click="unlockReward(reward)" ng-class="{'unlocked': localData[reward.id].unlocked, 'locked': !localData[reward.id].unlocked}">
        <img src="{{ reward.image }}" alt="">
        <div class="item-inner">
          <h2>{{ reward.name }}</h2>
          <p>{{ reward.description }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
