<ion-view view-title="Otázka č. {{ question.id }}">

  <ion-nav-bar class="bar bar-light">
    <ion-nav-buttons side="primary">
      <a href="#/tabs/questions" nav-direction="back">
        <button class="button button-icon icon icon-back"></button>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <a ng-click="pinQuestion(question)">
        <button class="button button-icon icon" ng-class="{'icon-pin': localData[question.id].pinned, 'icon-pin-outline': !localData[question.id].pinned}"></button>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="item-opened situation has-footer">
    <div class="question-image">
      <img src="{{ question.image.src}}" alt="">
    </div>
    <div class="question-text">

      <div class="question-question">
        <p>{{ question.question }}</p>
      </div>

      <div class="list answers">
        <label ng-repeat="item in question.answers" class="item item-radio">
          <input disabled="disabled" type="radio" name="group">
          <div class="item-content question-answer" ng-class="{'answer-correct': item.correct}">
            <span class="answer-option">{{ optionsModel[$index] }})</span>
            {{ item.text }}
          </div>
        </label>
      </div>
    </div>
  </ion-content>

  <button ng-click="openModal()" class="button button-footer button-stable icon icon-explain"></button>

</ion-view>
