<ion-view>

  // Questions header
  <div class="bar-stable bar bar-header disable-user-behavior">
    <button class="button button-icon icon ion-ios-search"></button>
    <div class="title title-nav">
      <a ng-click="setTab('tab-law')" ng-class="{active: tabName == 'tab-law'}">Zákon</a>
      <a ng-click="setTab('tab-notice')" ng-class="{active: tabName == 'tab-notice'}">Vyhláška</a>
      <a ng-click="setTab('tab-signs')" ng-class="{active: tabName == 'tab-signs'}">Značky</a>
      <a ng-click="setTab('tab-situations')" ng-class="{active: tabName == 'tab-situations'}">Situácie</a>
    </div>
    <button class="button button-icon icon ion-ios-paperplane-outline"></button>
  </div>

  <!-- Questions content -->
  <ion-content class="has-header">
    <div ng-switch="tabName">

      <!-- Law tab -->
      <div ng-switch-when="tab-law" ng-controller="QuestionsLawController">
        <ion-list type="list-inset">
          <ion-item nav-direction="forward" href="#" ng-repeat="item in data" class="item item-icon-right">
            {{ item.id }}. {{ item.question }}
            <i class="icon ion-ios-star-outline"></i>
            <ion-option-button class="button button-positive">
              <button class="button button-positive icon ion-checkmark"></button>
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>

      <!-- Notice tab -->
      <div ng-switch-when="tab-notice" ng-controller="QuestionsNoticeController">
        <ion-list type="list-inset">
          <ion-item ng-repeat="item in data" href="#" class="item item-icon-right">
            {{ item.id }}. {{ item.question }}
            <i class="icon ion-ios-star-outline"></i>
            <ion-option-button class="button button-positive">
              <button class="button button-positive icon ion-checkmark"></button>
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>

      <!-- Signs tab -->
      <div ng-switch-when="tab-signs" ng-controller="QuestionsSignsController">
        <ion-list type="list-inset">
          <div ng-repeat="item in data">
            <div class="item item-divider">
              {{ item.section }}
            </div>
            <ion-item ng-repeat="question in item.questions" href="#/questions/sign/{{question.id}}" class="item item-thumbnail-left item-icon-right">
              <img src="{{ question.image.src }}" alt="">
              {{ question.id }}. {{ question.name }}
              <i class="icon ion-ios-star-outline"></i>
              <ion-option-button class="button button-positive">
                <button class="button button-positive icon ion-checkmark"></button>
              </ion-option-button>
            </ion-item>
          </div>
        </ion-list>
      </div>

      <!-- Situations tab -->
      <div ng-switch-when="tab-situations" ng-controller="QuestionsSituationsController">
        <ion-list type="list-inset">
          <div ng-repeat="item in data">
            <div class="item item-divider">
              {{ item.section }}
            </div>
            <div ng-repeat="bundle in item.bundles" class="bundle-situations">
              <div class="item item-image">
                <img src="{{ bundle.image.src }}" alt="">
              </div>
              <ion-item ng-repeat="question in bundle.questions" href="#" class="item item-icon-right">
                {{ question.id}}. {{ question.question }}
                <i class="icon ion-ios-star-outline"></i>
                <ion-option-button class="button button-positive">
                  <button class="button button-positive icon ion-checkmark"></button>
                </ion-option-button>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </div>

    </div>
  </ion-content>
</ion-view>
