<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Teória" icon-on="icon-theory" icon-off="icon-theory-outline" href="#/theory">
    <ion-nav-view name="theory-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Otázky" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="tabs/questions">
    <ion-nav-view name="questions-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Testy" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="tabs/tests">
    <ion-nav-view name="tests-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Info" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="tabs/info">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
