<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Prehľad" icon-on="icon-info" icon-off="icon-info-outline" href="tabs/overview">
    <ion-nav-view name="overview-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Teória" icon-on="icon-theory" icon-off="icon-theory-outline" href="tabs/theory">
    <ion-nav-view name="theory-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Otázky" icon-on="icon-questions" icon-off="icon-questions-outline" href="tabs/questions">
    <ion-nav-view name="questions-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Testy" icon-on="icon-tests" icon-off="icon-tests-outline" href="tabs/tests">
    <ion-nav-view name="tests-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Info" icon-on="icon-info" icon-off="icon-info-outline" href="tabs/info">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
