<ion-view view-title="Testy">
  <ion-nav-bar class="bar bar-light"></ion-nav-bar>
  <ion-content>
    <ion-list type="list list-uneditable center list-tests">
        <ion-item href="#" ng-repeat="item in tests | limitTo:9" ng-click="openTestModal(item)" class="item item-uneditable item-thumbnail-center item-grid-3">
          <div class="item-inner">
            <img ng-if="!localDataTests[item.id].score" src="img/tests/test_nothing.png" alt="">
            <img ng-if="localDataTests[item.id].score<50" src="img/tests/test_didntPass.png" alt="">
            <img ng-if="localDataTests[item.id].score>50 && localDataTests[item.id].score!=55" src="img/tests/test_passed.png" alt="">
            <img ng-if="localDataTests[item.id].score==55" src="img/tests/test_passed_fullPoints.png" alt="">
            <div class="test-score">
              <h1 ng-if="localDataTests[item.id].score" class="negative">{{localDataTests[item.id].score}}b</h1>
              <h1 ng-if="!localDataTests[item.id].score">0b</h1>
            </div>
            <h2>Test {{ item.id }}</h2>
          </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
