<ion-view view-title="Test {{ test.id }}">

  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="primary">
      <a href="#/tabs/tests">
        <button class="button button-icon icon icon-close"></button>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="item-opened">

    <div class="test-progress">
      <div class="test-progress-bar" ng-style="{'width': ((view.question+1) / questions.length * 100) + '%'}"></div>
    </div>

    Odpovede:
    {{ answers }}

    <ion-slide-box active-slide="view.question" on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="question in questions">
        <div class="question-text" style="width:100%">
          <div class="question-question">
            <p>{{ question.question }}</p>
          </div>

          <div class="list answers">
            <label ng-repeat="item in question.answers" class="item item-radio">
              <input type="radio" name="group" ng-click="answerSelected(item, question.answers)">
              <div class="item-content question-answer"
                   ng-class="{
                     'answer-selected': view.selectedAnswer == $index,
                     'answer-checked': view.checked,
                     'answer-correct': item.correct,
                     'answer-incorrect': !item.correct
                   }">
                <span class="answer-option">{{ optionsModel[$index] }})</span>
                {{ item.text }}
              </div>
            </label>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>


  <div ng-if="params.immediately == 'true'">
    <button ng-disabled="!view.selectedAnswer && view.selectedAnswer != 0" ng-if="view.question < (questions.length - 1)" class="button button-footer button-stable " ng-click="next()">Next</button>
    <button ng-disabled="!view.selectedAnswer && view.selectedAnswer != 0" ng-if="view.question === (questions.length - 1)" class="button button-footer button-stable " ng-click="result()">Result</button>
  </div>
  <div ng-if="params.immediately == 'false'">
    <ion-footer-bar>
      <div class="buttons">
        <button class="button button-stable " ng-click="explain()">...</button>
      </div>
      <div class="buttons">
        <button ng-if="!view.checked" class="button button-positive " ng-click="check()"
                ng-disabled="!view.selectedAnswer && view.selectedAnswer != 0">Check
        </button>
        <button ng-if="view.checked && view.question < (questions.length - 1)" class="button button-positive " ng-click="next()">Next
        </button>
        <button ng-if="view.checked && view.question === (questions.length - 1)" class="button button-positive " ng-click="result()">Get results
        </button>
      </div>
    </ion-footer-bar>
  </div>
  <!--<button class="button button-footer button-stable icon icon-explain" ng-click="immediatelyResolve()">Vyhodnotit</button>-->
  <!--<div ng-if="params.immediately == 'true'">-->
  <!-- -->
  <!--</div>-->
  <!--<div ng-if="params.immediately == 'false'">-->

  <!--</div>-->
  <!--<button ng-click="openModal()" class=""></button>-->

</ion-view>
