<ion-view view-title="Teória">
  <ion-nav-bar class="bar-stable"></ion-nav-bar>
  <ion-content>
    <ion-list type="list">
      <div ng-repeat="item in data">
        <div class="item item-divider">
          {{ item.section }}
        </div>
        <ion-item nav-direction="forward" href="#/tabs/theory/chapter/{{chapter.id}}" ng-repeat="chapter in item.chapters">
          {{ chapter.name }} <!-- <div class="item-note">{{ chapter.minutes }} min</div>-->
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
