<ion-view view-title="Teória">
  <ion-nav-bar class="bar bar-light bar-header disable-user-behavior">
    <!-- <button class="button button-icon icon icon-search" ng-click="goToSearch()"></button> -->
    <h1 class="title title-nav">Teória</h1>
  </ion-nav-bar>
  <ion-content class="has-header">
    <ion-list type="list list-uneditable list-chapters">
      <p id="shakeData"></p>
      <div ng-repeat="item in data">
        <div class="item item-divider">
          {{ item.section }}
        </div>
        <ion-item nav-direction="forward" href="#/tabs/theory/chapter/{{chapter.id}}" ng-repeat="chapter in item.chapters" class="item item-uneditable">
          <div class="item-inner">
            <div class="chapter-id">
              <h1 class="positive">{{ chapter.id }}.</h1>
            </div>
            <h2>{{ chapter.name }}</h2>
            <p>{{ chapter.description }}</p>
            <!-- <p>{{chapter.description}}</p> -->
            <!-- <div class="item-note">{{ chapter.minutes }} min</div> -->
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
