.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: $bar-height + 20px;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top: $bar-height + 20px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: $bar-height + 20px - 1px;
  border-top: 0; 
}

.bar {
  height: $bar-height;
  .title {
    line-height: 3em;
    height: $bar-height;
    font-family: $sans-serif;
  }
  .title-nav {
    a {
      padding: 16px 10px;
    }
  }
  .has-subtitle-nav {
    line-height: 2.1em;
  }
  .subtitle-nav {
    font-family: $sans-serif;
    font-size: 15px;
    font-weight: 400;
    top: 0.9em;
  }
  .button.button-icon {
    .icon:before {
      font-size: $icon-small;
    }
  }
  .button.button-icon:before,
  .button.button-icon.icon-left:before,
  .button.button-icon.icon-right:before {
    font-size: $icon-small;
  }
}

.bar.bar-buttons {
  height: $button-medium + 20px;
  background-color: rgba(255,255,255,0.9);
  .button.button-block {
    height: $button-medium;
    margin: 0;
  }
}

.button-footer {
  height: $bar-height;
}

.bar.bar-stable, .bar.bar-light {
  border-color: darken($line,4);
  .title-nav {
    a {
      color: $link-secondary;
    }
    a.active {
      color: $positive;
      border-bottom: 4px solid $positive;
    }
  }
  .button {
    color: $link-secondary;
  }
}

.bar.bar-positive {
  border-color: none;
  .title-nav {
    a {
      color: lighten($positive, 20);
    }
    a.active {
      color: $light;
      border-bottom: 4px solid $light;
    }
    .button {
      color: $link-secondary;
    }
  }
}

.bar-subheader {
  top: $bar-height - 1px;
  border-top: 0;
}
.bar-subheader.has-scope-bar {
  height: $scope-bar-height + 20px;
}
.has-header {
  top: $bar-height;
}
.has-footer {
  bottom: $bar-height;
}
