.modal-backdrop-bg {
  background-color: $backdrop-bg;
}
.modal-fullscreen {
  top: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  .scroll-content {
    background-color: $stable;
    height: auto;
    position: relative;
    display: block;
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
}
@media (min-width: 680px) {
  .active {
    .modal-backdrop-bg {
      opacity: 0.8;
    }
    .modal-wrapper {
      .modal {
        @include border-radius($radius-item);
        .bar-header {
          @include border-top-radius($radius-item);
          border-bottom: 1px solid $line;          
        }
        .scroll-content {
          @include border-bottom-radius($radius-item);
          background-color: $light;
        }
        .item {
          text-align: left;
        }
      }
    }
  }
}

.modal-image {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  img {
    max-width: 160px;
  }
}

.modal-text {
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  p {
    font-family: $sans-serif;
    font-size: 17px;
  }
}
