.circles {
  margin: 1em auto;
}

.circle {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 6px;
  margin-bottom: 10px;
  background-color: darken($stable,2);
}

.circle.circle-done {
  background-color: $balanced;
}
