.circles {
  margin-top: 1em;
}

.circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: darken($stable,2);
}

.circle.circle-done {
  background-color: $positive;
}
