.item-opened.situation {
  padding-top: 0;
}

.question-question {
  padding: $padding-small $padding-large;
}

.question-text p {
  margin: 0;
}

.question-image {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  &.image-sign {
    img {
      max-width: 40%;
      vertical-align: center;
      min-height: 300px;
    }
  }
  &.image-situation {
    img {
      max-width: 100%;
      vertical-align: center;
    }
  }
  img {
    max-width: 100%;
  }
}


.answers {
  .item {
    color: #222;
    border-width: 0;
    .question-answer {
      white-space: normal;
      padding: $padding-small $padding-large $padding-small 110px;
    }
    .answer-checked {
      &.answer-correct {
        background-color: lighten($balanced, 30);
        color: darken($balanced, 30);
      }
      &.answer-selected.answer-incorrect {
        background-color: lighten($assertive, 30);
        color: darken($assertive, 30);
      }
    }
    .answer-selected {
      background-color: darken($stable,4);
    }
  }
}

.answer-option {
  color: $link-secondary;
  position: relative;
  left: -1em;
  margin-left: -1.1em;
}

.item-radio input:checked ~ .item-content {
  background-color: darken($stable,4);
}
