.tabs {
  height: $tabs-height;
  .icon {
    font-size: $icon-large;
    height: $icon-large;
  }
}

.tabs-stable {
  .tabs {
    background-color: lighten($stable,2);
    border-color: darken($line,4);
    .tab-item {
      color: $link-secondary;
    }
    .tab-item-active,
    .activated {
      color: $positive;
    }
  }
}



.has-tabs,
.bar-footer.has-tabs {
  bottom: $tabs-height;
}

.tabs-icon-top {
  .tabs {
    .tab-item {
      padding-top: 8px;
      font-size: 12px;
      max-width: 140px;
      opacity: 1;
      .icon {
        margin-bottom: 3px;
      }
    }
  }
}
