.test-progress {
  width: 100%;
  height: $progresbar-height;
  background-color: $stable;
  .test-progress-bar {
    height: $progresbar-height;
    background-color: $positive;
    @include transition(all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms);
  }
}
