@font-face {
    font-family: 'preto_serif_ot_std_regular';
    src: url('../fonts/preto_serif_ot_std_regular.eot');
    src: url('../fonts/preto_serif_ot_std_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/preto_serif_ot_std_regular.woff2') format('woff2'),
         url('../fonts/preto_serif_ot_std_regular.woff') format('woff'),
         url('../fonts/preto_serif_ot_std_regular.ttf') format('truetype'),
         url('../fonts/preto_serif_ot_std_regular.svg#preto_serif_ot_std_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'preto_serif_ot_std_bold';
    src: url('../fonts/preto_serif_ot_std_bold.eot');
    src: url('../fonts/preto_serif_ot_std_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/preto_serif_ot_std_bold.woff2') format('woff2'),
         url('../fonts/preto_serif_ot_std_bold.woff') format('woff'),
         url('../fonts/preto_serif_ot_std_bold.ttf') format('truetype'),
         url('../fonts/preto_serif_ot_std_bold.svg#preto_serif_ot_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'preto_serif_ot_std_italic';
    src: url('../fonts/preto_serif_ot_std_italic.eot');
    src: url('../fonts/preto_serif_ot_std_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/preto_serif_ot_std_italic.woff2') format('woff2'),
         url('../fonts/preto_serif_ot_std_italic.woff') format('woff'),
         url('../fonts/preto_serif_ot_std_italic.ttf') format('truetype'),
         url('../fonts/preto_serif_ot_std_italic.svg#preto_serif_ot_stditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
ionic-body {
  line-height: 1.5;
  color: #1F1F1F;
}

p {
  font-family: $serif-regular;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 2em;
  a {
    color: $link;
    text-decoration: none;
    border-bottom: .08em solid $line;
    padding-bottom: .08em;
  }
  a.activated,
  a.active {
    border-bottom: .08em solid $positive;
  }
}

p.small {
  font-size: 16px;
}

p.subtle {
  color: $link-secondary;
}

h1 {
  font-family: $serif-regular;
}

h2 {
  font-family: $serif-regular;
}

h3 {
  font-family: $serif-bold;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
}

i {
  font-weight: normal;
  font-family: $serif-italic;
}

b,
strong {
  font-weight: normal;
  font-family: $serif-bold;
}

blockquote {
  border-left: 2px solid $link;
}

blockquote,
blockquote p,
blockquote ul li {
  font-family: $serif-regular;
  font-size: $font-small;
  line-height: 1.5;
}

ul {
  li {
    font-family: $serif-regular;
    font-size: 20px;
    line-height: 1.5;
  }
}

.chapter-text {
  ul {
    margin: -1.5em 0 2em 0;
    li {
      padding-bottom: 0.4em;
      padding-left: 1em;
      list-style-position: outside;
    }
    li:before {
    	content:"–";
    	position: relative;
      margin-left: -0.5em;
    	left: -0.5em;
    }
  }
}

.question-text,
.item-content  {
  font-family: $serif-regular;
  font-size: $font;
}

.item-content {
    h1 {
      font-family: $serif-bold;
      margin-bottom: 0;
    }
    h2 {
      font-family: $sans-serif;
      font-weight: 500;
      white-space: normal;
      font-size: 24px;
      line-height: 1.4;
    }
    p {
      font-family: $sans-serif;
    }
}

.item-note {
  font-family: $sans-serif;
  font-size: 20px;
}
