<ion-modal-view>
  <ion-header-bar class="bar bar-light">
    <button class="button button-icon icon icon-back" ng-click="closeTestTypeModal()"></button>
    <h1 class="title">Vyber okruh otázok</h1>
  </ion-header-bar>
  <ion-content class="">
    <ion-radio ng-model="basicTestType.id" ng-value="36" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Zákon 1–35</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="37" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Zákon 36–70</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="38" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Vyhláška</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="39" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Výstražné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="40" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Značky upravujúce prednosť v jazde</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="41" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Zákazové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="42" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Príkazové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="43" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Informatívne, prevádzkové, smerové a iné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="44" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Informatívne smerové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="45" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Informatívne iné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="46" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Dodatkové tabuľky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="47" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Vodorovné dopravné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="48" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Dopravné zariadenia a osobitné označenia</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="49" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Križovatky – jazda v jazdných pruhoch</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="50" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Križovatky bez dopravných značiek</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="51" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Križovatky hlavnej cesty s vedľajšou</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="52" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Riadené križovatky</ion-radio>
  </ion-content>
</ion-modal-view>
