<ion-modal-view>
  <ion-header-bar class="bar bar-light">
    <button class="button button-icon icon icon-back" ng-click="closeTestTypeModal()"></button>
    <h1 class="title">Vyber okruh otázok</h1>
  </ion-header-bar>
  <ion-content class="">
    <ion-radio ng-model="basicTestType.id" ng-value="36" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Zákon</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="37" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Vyhláška</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="38" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="39" ng-click="confirmTestTypeModal(basicTestType)" class="radio-basic">Križovatky</ion-radio>
    <!-- <ion-radio ng-model="basicTestType.id" ng-value="38" ng-click="confirmTestTypeModal(basicTestType)">Výstražné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="39" ng-click="confirmTestTypeModal(basicTestType)">Značky upravujúce prednosť v jazde</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="40" ng-click="confirmTestTypeModal(basicTestType)">Zákazové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="41" ng-click="confirmTestTypeModal(basicTestType)">Príkazové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="42" ng-click="confirmTestTypeModal(basicTestType)">Informatívne, prevádzkové, smerové a iné značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="43" ng-click="confirmTestTypeModal(basicTestType)">Informatívne smerové značky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="44" ng-click="confirmTestTypeModal(basicTestType)">Dodatkové tabuľky</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="45" ng-click="confirmTestTypeModal(basicTestType)">Dopravné zariadenia</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="46" ng-click="confirmTestTypeModal(basicTestType)">Križovatky – jazda v jazdných pruhoch</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="47" ng-click="confirmTestTypeModal(basicTestType)">Križovatky bez dopravných značiek</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="48" ng-click="confirmTestTypeModal(basicTestType)">Križovatky s hlavnou a vedľajšou cestou</ion-radio>
    <ion-radio ng-model="basicTestType.id" ng-value="49" ng-click="confirmTestTypeModal(basicTestType)">Riadené križovatky</ion-radio> -->
  </ion-content>
</ion-modal-view>
