<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Autoskola</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/ionic/css/ionicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/theory-controller.js"></script>
  <script src="js/theory-chapter-controller.js"></script>
  <script src="js/questions-controller.js"></script>
  <script src="js/questions-law-controller.js"></script>
  <script src="js/questions-notice-controller.js"></script>
  <script src="js/questions-signs-controller.js"></script>
  <script src="js/questions-situations-controller.js"></script>
  <script src="js/tests-controller.js"></script>
  <script src="js/info-controller.js"></script>
</head>

<body ng-app="autoskola" animation="slide-left-right-ios7">

  <ion-nav-view></ion-nav-view>

  <script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-stable">

      <ion-tab title="Teória" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline" href="#/theory">
        <ion-nav-view name="theory-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Otázky" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="tabs/questions">
        <ion-nav-view name="questions-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Testy" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="tabs/tests">
        <ion-nav-view name="tests-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Info" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="tabs/info">
        <ion-nav-view name="info-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>

  <script id="theory.html" type="text/ng-template">
    <ion-view view-title="Teória">
      <ion-nav-bar class="bar-stable"></ion-nav-bar>
      <ion-content>
        <ion-list type="list-inset">
          <div ng-repeat="item in data">
            <div class="item item-divider">
              {{ item.section }}
            </div>
            <ion-item href="#/theory/chapter/{{chapter.id}}" ng-repeat="chapter in item.chapters">
              {{ chapter.name }}
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="chapter.html" type="text/ng-template">
    <ion-view view-title="{{ chapter.name }}">
      <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="primary">
          <a nav-transition="ios" href="#/theory">
            <button class="button button-icon icon ion-android-arrow-back"></button>
          </a>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-content>
        <div ng-repeat="item in chapter.content">
          <img src="{{ item.image }}">
          <h3>{{ item.headline}}</h2>
          <p>{{ item.paragraph }}</p>
        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="questions.html" type="text/ng-template">
    <ion-view>

      // Questions header
      <div class="bar-stable bar-stable bar bar-header disable-user-behavior">
        <button class="button button-icon icon ion-ios-search"></button>
        <div class="title title-nav">
          <a ng-click="setTab('tab-law')" ng-class="{active: tabName == 'tab-law'}">Zákon</a>
          <a ng-click="setTab('tab-notice')" ng-class="{active: tabName == 'tab-notice'}">Vyhláška</a>
          <a ng-click="setTab('tab-signs')" ng-class="{active: tabName == 'tab-signs'}">Značky</a>
          <a ng-click="setTab('tab-situations')" ng-class="{active: tabName == 'tab-situations'}">Situácie</a>
        </div>
        <button class="button button-icon icon ion-ios-paperplane-outline"></button>
      </div>

      <!-- Questions content -->
      <ion-content class="has-header">
        <div ng-switch="tabName">

          <!-- Law tab -->
          <div ng-switch-when="tab-law" ng-controller="QuestionsLawController">
            <ion-list type="list-inset">
              <ion-item ng-repeat="item in data" class="item">
                {{item.id}}. {{ item.question }}
                <ion-option-button class="button button-positive">
                  <button class="button button-positive icon ion-checkmark"></button>
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>

          <!-- Notice tab -->
          <div ng-switch-when="tab-notice" ng-controller="QuestionsNoticeController">
            <ion-list type="list-inset">
              <ion-item ng-repeat="item in data">
                {{ item.id }}. {{ item.question }}
                <ion-option-button class="button button-positive">
                  <button class="button button-positive icon ion-checkmark"></button>
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>

          <!-- Signs tab -->
          <div ng-switch-when="tab-signs" ng-controller="QuestionsSignsController">
            <ion-list type="list-inset">
              <div ng-repeat="item in data">
                <div class="item item-divider">
                  {{ item.section }}
                </div>
                <ion-item class="item item-thumbnail-left" href="" ng-repeat="question in item.questions">
                  <img src="{{ question.image.src }}" alt=""> {{ question.id }}. {{ question.name }}
                  <ion-option-button class="button button-positive">
                    <button class="button button-positive icon ion-checkmark"></button>
                  </ion-option-button>
                </ion-item>
              </div>
            </ion-list>
          </div>

          <!-- Situations tab -->
          <div ng-switch-when="tab-situations" ng-controller="QuestionsSituationsController">
            <ion-list type="list-inset">
              <div ng-repeat="item in data">
                <div class="item item-divider">
                  {{ item.section }}
                </div>
                <div ng-repeat="bundle in item.bundles">
                  <div class="item item-image">
                    <img src="{{ bundle.image.src }}" alt="">
                  </div>
                  <ion-item ng-repeat="question in bundle.questions">
                    {{ question.id }}. {{ question.question }}
                    <ion-option-button class="button button-positive">
                      <button class="button button-positive icon ion-checkmark"></button>
                    </ion-option-button>
                  </ion-item>
                </div>
              </div>
            </ion-list>
          </div>

        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="tests.html" type="text/ng-template">
    <ion-view view-title="Tests">
      <div class="bar bar-header bar-stable">
        <h1 class="title">Testy</h1>
      </div>
      <ion-content class="has-header padding">
      </ion-content>
    </ion-view>
  </script>

  <script id="info.html" type="text/ng-template">
    <ion-view view-title="Info">
      <div class="bar bar-header bar-stable">
        <h1 class="title">Info</h1>
      </div>
      <ion-content class="has-header padding">
        <p>Preto Serif Copyright © Ján Filípek, www.dizajndesign.sk</p>
        <p>Poradca pri kodení/Spolukóder: Patrik Galik</p>
      </ion-content>
    </ion-view>
  </script>

</body>

</html>
